[submodule "Praktek/4 Unsupervised/Tugas4_B_11839"]
	path = Praktek/4 Unsupervised/Tugas4_B_11839
	url = https://github.com/ChenCiaLiang/Tugas4_B_11839
[submodule "Praktek/5 Deep Learning/Tugas5_B_11839"]
	path = Praktek/5 Deep Learning/Tugas5_B_11839
	url = https://github.com/ChenCiaLiang/Tugas5_B_11839
[submodule "Praktek/6 CNN/Tugas6_B_11839"]
	path = Praktek/6 CNN/Tugas6_B_11839
	url = https://github.com/ChenCiaLiang/Tugas6_B_11839
